<app-nav-bar></app-nav-bar>
<div class="wrap">
    <div class="contain1 fix">
        <div class="paging">
            <div class="premium-header ">
                <div>
                    <!-- <span>GRENNY</span>
                  <img src="../../../assets//logo1.png" alt="abc" width="100px " height="100px " />
                  <span>PREMIUM</span> -->
                </div>
                <div>
                </div>
                <div class="title-premium">
                    <h2 style="font-family: 'Anton', sans-serif;margin-top: 0px; ">Trải nghiệm chất lượng âm nhạc tuyệt vời miễn phí trong 1 tháng không bị giới hạn </h2>
                </div>
            </div>

            <div class="premium-body ">
                <div class="premium-package ">
                    <div class="package ">
                        <p class="title-package" style="color:white; font-size: 40px; font-family: 'Anton', sans-serif;box-sizing: content-box;"> Chỉ 299.000 VNĐ/ 6 tháng. Sử dụng không giới hạn. </p>

                        <div class="fix">
                            <button mat-button class="example-icon favorite-icon">
                              Đăng ký PREMIUM
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contain body-container">
        <div class="paging">

            <p style="color:cadetblue; font-size: 25px; margin-bottom: 50px; ">Grenny Premium là dịch vụ nghe nhạc Online chất lượng cao, kết hợp cùng các tiện ích dành riêng cho thành viên Premium</p>
            <ul class="reason-list">
                <li>
                    <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_block.png">
                    <h6 style="margin-right: 100px;">KHÔNG QUẢNG CÁO</h6>
                    <p>Tận hưởng không gian âm nhạc mà không bị quảng cáo làm phiền</p>
                </li>
                <li>
                    <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_music.png">
                    <h6 style="margin-right: 100px; height: 20px;">NHẠC CHẤT LƯỢNG CAO</h6>
                    <p>Kho nhạc phong phú, chất lượng cao với nhiều thể loại trong và ngoài nước</p>
                </li>
                <li>
                    <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_download.png ">
                    <h6 style="height: 20px; margin-right: 100px;">TẢI VÀ ĐỒNG BỘ NHẠC KHÔNG GIỚI HẠN</h6>
                    <p>Dung lượng lưu trữ nhạc trên Cloud không giới hạn.</p>
                </li>
                <li>
                    <img src="https://static-zmp3.zadn.vn/skins/zmp3-v5.1/vip/images/ic_video.png">
                    <h6 style="margin-right: 100px; height: 20px;">SỬ DỤNG TRÊN NHIỀU THIẾT BỊ</h6>
                    <p>Có thể truy cập kho nhạc trên điện thoại, laptop, tivi</p>
                </li>
            </ul>
            <!-- </div> -->
            <!-- Lý do -->
            <!-- Lợi ích -->
            <div class="premium-footer">
                <h2 style="padding-bottom: 30px; color: cadetblue">Nghe nhạc chất lượng cao</h2>
                <div style="display: flex; justify-content: center;align-items: center">
                    <div class="end title">
                        <div>
                            <h3>Chất lượng</h3>
                            <p>Bài hát có chất lượng lossless sẽ giúp bạn có trải nghiệm nghe nhạc trong thính phòng tại nhà.</p>
                        </div>
                        <div>
                            <h4>Nội dung</h4>
                            <p>Liên tục cập nhật các album và bài hát mới nhất trên thị trường âm nhạc trong và ngoài nước.</p>
                        </div>
                        <div>
                            <h5>Upload</h5>
                            <p>Thoả thích upload nhạc không giới hạn mà bạn yêu thích lên Zing MP3. </p>
                        </div>
                    </div>
                    <div class="end pic">
                        <img src="../../../assets/headphones_books_education_121501_1280x720.jpg " style="width:500px; height:300px; margin-left: 80px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>