<app-nav-bar></app-nav-bar>
<!-- Carousel and Video -->
<div id="infor" style="position: relative;">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide class="nav">
            <iframe width="100%" height="720" src="https://www.youtube.com/embed/rYEDA3JcQqw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            <div class="nav-content">
                <h3>Rolling in the deep</h3>
                <h4>The best song of Adele</h4>
            </div>
        </ng-template>
        <ng-template carouselSlide class="nav">
            <iframe width="100%" height="720" src="https://www.youtube.com/embed/RgKAFK5djSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            <div class="nav-content">
                <h3>See you again</h3>
                <h5>The best pop song in 2015</h5>
            </div>
        </ng-template>
        <ng-template carouselSlide class="nav">
            <iframe width="100%" height="720" src="https://www.youtube.com/embed/OPf0YbXqDm0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            <div class="nav-content">
                <h3>Uptown Funk</h3>
                <h5></h5>
            </div>
        </ng-template>
    </owl-carousel-o>
    <!--Video-->
    <div class="container">
        <div class="music-content">
            <h3>Music </h3>
        </div>
        <div class="music-list">
            <div class="row">
                <!--Left-->
                <div class="col-md-6">
                    <div class="music-img">
                        <div class="music-perfor">
                            <img src="../../../assets/img-D/music_wallpaper3.jpg" alt="">
                        </div>
                        <div class="music-audio">
                            <audio src="../../../assets/img-D/despacito.mp3" controls></audio>
                        </div>
                    </div>
                    <div class="music-detail">
                        <h4>Despacito</h4>
                        <h5>Daddy Yankee</h5>
                        <h3>That is the most viewed music on youtube in the world ....</h3>
                    </div>
                </div>
                <!--Right-->
                <div class="col-md-6" style="overflow:auto;height:400px">
                    <ul class="music-play-list" style="cursor: pointer;" *ngFor="let data of files;let i = index" (click)="openFile(data, i)">
                        <li class="music-play-list-number">
                            <div class="song-infor">

                                <h3>{{data.namesong}}</h3>
                                <strong>Album</strong>:{{data.album}} |
                                <strong>Type</strong>:{{data.type}}|
                                <strong>Singer</strong>:{{data.singer}}
                            </div>
                            <div class="song-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                <i class="fa fa-pause" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Special Album</h3>
        <div class="row">
            <div class="col-md-4 ">
                <img src="../../../assets/img-D/Adele.jpg" alt="">
                <div class="album-content">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
                    <a href="#"> Detail</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="../../../assets/img-D/bruno-mars.jpg" alt="">
                <div class="album-content">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
                    <a href="#"> Detail</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="../../../assets/img-D/imagine_dragons_evolve.jpg" alt="">
                <div class="album-content">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
                    <a href="#"> Detail</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="../../../assets/img-D/Despacito_Vida.jpg" alt="">
                <div class="album-content">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
                    <a href="#"> Detail</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="../../../assets/img-D/havana_camila.jpg" alt="">
                <div class="album-content">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
                    <a href="#"> Detail</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="../../../assets/img-D/let_me_down_slowly.jpg" alt="">
                <div class="album-content">
                    <i class="fa fa-music" aria-hidden="true"></i>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">music_note</mat-icon>
                    <a href="#"> Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="audio-footer">
    <mat-toolbar color="primary">
        <button mat-button (click)="previous()">
            <mat-icon mat-list-icon>skip_previous</mat-icon>
          </button>
        <button mat-button (click)="play()">
            <mat-icon mat-list-icon>play_circle_filled</mat-icon>
          </button>
        <button mat-button (click)="pause()">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>
        <button mat-button (click)="next()">
            <mat-icon mat-list-icon>skip_next</mat-icon>
          </button>
    </mat-toolbar>
</div>
<app-footer></app-footer>