.example-icon {
    padding: 0 14px;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.nav-btn {
    margin: 55%;
    border: none;
    outline: none;
}
