<div *ngIf="afAuth.user | async; then authenticated else guest">
</div>

<ng-template #guest>
    <mat-toolbar class="navBarContainer">
        <mat-toolbar-row style="background-color: #2e2e2ee7; opacity: 0.7;box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);">
            <div>
                <img src="../../../assets/logo1.png" alt="" height="60px" class="logo" style="cursor: pointer;" (click)="router.navigate(['/home'])">
                <span style="margin-left:5px; color: white;  font-size: 25px;">Grenny</span>
            </div>
            <div class="nav-btn">
                <button mat-button style="color: white; font-size: 25px; outline: none; " (click)="router.navigate(['home'])">Home</button>
                <button mat-button style="color: white;  font-size: 25px; outline: none;" (click)="router.navigate(['premium'])">Premium</button>
                <button mat-button style="color: white;  font-size: 25px; outline: none;" (click)="router.navigate(['musicList'])">List</button>
                <button mat-button style="color: white;  font-size: 25px; outline: none;" (click)="router.navigate(['mainPage'])">Plays</button>
                <button mat-button style="color:white;  font-size: 25px; outline: none;" class="btn-login" (click)="router.navigate(['Login']) ">Login</button>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
</ng-template>

<ng-template #authenticated>
    <mat-toolbar class="navBarContainer">

        <mat-toolbar-row style="background-color: #2e2e2ee7; opacity: 0.9;box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);">
            <div>
                <img src="../../../assets/img/logo1.png" alt="" height="60px" width="60px" class="logo" style="cursor: pointer;" (click)="router.navigate(['/home'])">
                <span style="margin-left:5px; color: white;  font-size: 25px;">Grenny</span>
            </div>
            <div class="nav-btn">
                <button mat-button style="color: white; font-size: 25px; outline: none; " (click)="router.navigate(['home'])">Home</button>
                <button mat-button style="color: white;  font-size: 25px; outline: none;" (click)="router.navigate(['premium'])">Premium</button>
                <button mat-button style="color: white;  font-size: 25px; outline: none;" (click)="router.navigate(['musicList'])">List</button>
                <button mat-button style="color: white;  font-size: 25px; outline: none;" (click)="router.navigate(['mainPage'])">Plays</button>
                <span class="example-spacer"></span>
                <button mat-button class="center" [matMenuTriggerFor]="menu">
                    <img [src]='avt' style="width: 50px; border-radius: 50%; outline: none; ">
                </button>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item style="color: white; font-size: 25px; outline: none; background-color: black; opacity: 0.6;" (click)=" signout() " class="signout ">Sign Out</button>
            </mat-menu>

        </mat-toolbar-row>
    </mat-toolbar>
</ng-template>