<div style="width: 100%;">
<h2 mat-dialog-title>Đăng ký</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <h4>Email:</h4>
        <mat-form-field appearance="fill" style="width: 360px;">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <h4>Mật khẩu:</h4>
        <mat-form-field appearance="fill" style="width: 360px;">
                            <mat-label>Enter your password</mat-label>
                            <input matInput placeholder="password" [formControl]="password" required type='password' [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
        </mat-form-field>
         <h4>Nhập lại mật khẩu:</h4>
        <mat-form-field appearance="fill" style="width: 360px;">
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="password" [formControl]="retypePassword" required type='password' [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>  
        <div style="font-size: large;" >
          <section class="example-section">
          <mat-checkbox   color= 'warn'  >
            <div style="    margin-top: 8px;">
        <label for="remember-me" style="margin-right: 5px;">Tôi đồng ý với</label>
        <label for="remember-me"><a routerLink="#"> Điều khoản và điều kiện sử dụng</a></label>
        <label for="remember-me" style="margin-right: 5px;margin-left: 5px;"> và </label>
        <label for="remember-me"><a routerLink="#" style="margin-right: 5px;"> Chính sách quyền riêng tư </a></label>
        <label for="remember-me"> của Grenny </label>
      </div>
      </mat-checkbox>
      </section>
      </div>
</mat-dialog-content> 
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial (click)='signUp()' >Sumit</button>
</mat-dialog-actions>
</div>
