<h2 mat-dialog-title>Đăng ký</h2>
<mat-dialog-content class="mat-typography">
        <div>Tên tài khoản:</div>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    <div class="example-container">
        <div>Email:</div>
        <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div>Mật khẩu:</div>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <div>Nhập lại mật khẩu:</div>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sumit</button>
</mat-dialog-actions>
