:root {
    --mauchu: rgb(0, 0, 0, 0.7);
    --xamnhat: rgba(241, 240, 240, 0.925);
    --xanhmint: rgb(0, 177, 79);
    --cam: rgb(249, 177, 68);
}
.format {
    opacity: 0.7;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: -65px;
    display: flex;
    justify-content: center;
    background-color: black;
}
#homepage {
    background-color: black;
    z-index: 100;
    top: 0;
}

.main-pic,
.bgimg-2,
.bgimg-3 {
    opacity: 0.65;
    z-index: -100;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-pic {
    background-image: url("../../../assets/img/background.jpg");
    display: flex;
    justify-content: center;
}
.bgimg-2 {
    background-image: url("../../../assets/img/adam.jpg");
    display: flex;
    justify-content: center;
}
.bgimg-3 {
    background-image: url("../../../assets/img/taylor.jpg");
    display: flex;
    justify-content: center;
}
.content {
    margin: 1.5em;
}
.caption h1 {
    color: #000;
    width: 100%;
}
.caption {
    /* position: absolute; */
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
}
.content-1 {
    color: #777;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: #2b2a2a8f;
}

.home-body-content {
    display: flex;
    justify-content: center;
}

.content-3a {
    margin: 0 auto;
    height: 100%;
}

.content-3a p {
    font-size: 1.5rem;
    color: var(--mauchu);
}

button {
    width: 10%;
    font-size: width;
}
@media screen and (min-width: 300px) {
    h1 {
        font-size: 1rem;
    }
    .premium{
        font-size: 1rem;
    }
    .title {
        font-size: 1rem;
    }
    .home-body-content {
        display: flex;
        justify-content: center;
        padding: 3%;
    }

 


    .content-3a {
        margin: 0 auto;
        height: 100%;
    }

    .home-body-2 {
        display: flex;
        justify-content: center;
        margin: 3em 25em 2em;
        width: 90rem;
    }
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 2rem;
    }
    .premium{
        font-size: 2rem;
    }
    .title {
        font-size: 2rem;
    }
    .home-body-content {
        display: flex;
        justify-content: center;
        padding: 3%;
    }




    .content-3a {
        margin: 0 auto;
        height: 100%;
    }

    .home-body-2 {
        display: flex;
        justify-content: center;
        margin: 3em 25em 2em;
        width: 90rem;
    }
    
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 2.5rem;
    }
    .title {
        font-size: 2.5rem;
    }
    .home-body-content {
        display: flex;
        justify-content: center;
        padding: 3%;
    }


    .content-3a {
        margin: 0 auto;
        height: 100%;
    }

    .home-body-2 {
        display: flex;
        justify-content: center;
        margin: 3em 25em 2em;
        width: 90rem;
    }
    .premium{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 3rem;
    }
    .title {
        font-size: 3rem;
    }
    .premium{
        font-size: 3rem;
    }
    .home-body-content {
        display: flex;
        justify-content: center;
        padding: 3%;
    }

    .icon {
        margin: 1.5em;
        width: 65%;
        text-align: center;
    }

    svg {
        width: 5em;
        height: 5em;
    }

    .icon p {
        margin: 0.55em;
        font-size: 1.5em;
    }

    .content-3a {
        margin: 0 auto;
        height: 100%;
    }

    .home-body-2 {
        display: flex;
        justify-content: center;
        margin: 3em 25em 2em;
        width: 90rem;
    }
}

@media screen and (min-width: 1500px) {
    h1 {
        font-size: 4rem;
    }
    .title{
        font-size: 4rem;
    }
    .premium{
        font-size: 4rem;
    }

    .home-body-content {
        display: flex;
        justify-content: center;
        padding: 3%;
    }

    .icon {
        margin: 1.5em;
        width: 65%;
        text-align: center;
    }

    svg {
        width: 5em;
        height: 5em;
    }

    .icon p {
        margin: 0.55em;
        font-size: 1.5em;
    }

    .content-3a {
        margin: 0 auto;
        height: 100%;
    }

    .home-body-2 {
        display: flex;
        justify-content: center;
        margin: 3em 25em 2em;
        width: 90rem;
    }

    .content-3a {
        width: 70%;
        margin-left: 5em;
    }

    .content-3a p {
        font-size: 1.5em;
    }

    .content-3a h3 {
        font-size: 3em;
    }
}
