<app-nav-bar></app-nav-bar>
<div class="main-pic">
    <div class="content" style="width: 90rem;">
        <div class="caption">
            <h1>ÂM NHẠC CHO MỌI NGƯỜI</h1>
        </div>
    </div>
</div>
<div class="content-1">
    <div class="content" style="width: 90%;">
        <img style="width: 30%;" src="../../../assets/img/nền đen.png">
        <p class="title" style="color:rgb(58, 57, 57); font-family: Arial, Helvetica Neue, Helvetica, sans-serif;">Âm
            nhạc cho tình yêu, niềm tin và hi vọng</p>
        <br>
        <p style="font-size: 150%;">Tận hưởng quảng thời gian thư giãn cùng với thế giới âm nhạc. Những giai điệu ballad
            du dương, những bản tình ca bất hủ, cùng với rất nhiều thể loại khác được chọn lọc. Grenny luôn luôn
            cập nhật những xu hướng âm nhạc mới nhất, dẫn đầu trong các BXH cả trong lẫn ngoài nước.</p>

        <button mat-raised-button style="outline:none; color:primary" href="#">Nghe nhạc</button>
    </div>
</div>
<div class="bgimg-2"></div>
<div class="bgimg-3"></div>
<div class="home-body-content" style="background-color: rgb(107, 216, 149)">
    <div class="home-body-2" style="width: 90rem;">
        <div class="content-3a">
            <h3 class="premium">Premium <img src="../../../assets/img/logo1.png" alt="" style="width: 3rem"></h3>
            <p class="premium">Sở hữu nhiều quyền lợi đặc biệt</p>
            <ul>
                <li>Nghe nhạc chất lượng cao</li>
                <li>Thỏa sức download những bài hát hay</li>
                <li>Vip member</li>
            </ul>
        </div>

    </div>
</div>
<app-footer></app-footer>